<div class="border border-2 border-primary  p-5">
  <div class="border border-2 border-primary m-2">
   <app-user-input></app-user-input>
    </div>
   <div class="row"> 
          <div class="col border border-2 border-primary m-5 pb-5"> 
            <app-even-length-words [worlds]="evenWorlds"></app-even-length-words>
          </div>
          <div class="col border border-2 border-primary m-5 pb-5">
            <app-odd-length-words [worlds]="oddWorlds"></app-odd-length-words>
          </div>
       
    </div>
</div>